---
import CommonHead from '../components/CommonHead.astro';
import Tabs from '../components/Tabs.vue';


// Images
import helena from '../assets/images/helena.jpg';
import helena_cliente_gainage from '../assets/images/helena_cliente_gainage.jpg'
import renforcement_musculaire from '../assets/images/renforcement_musculaire.jpg';
import perte_de_poids from '../assets/images/perte_de_poids.jpg';
import sport_sante_senior from '../assets/images/sport_sante_senior.jpg';
import prise_de_masse from '../assets/images/prise_de_masse.jpg';
import team from '../assets/images/team.jpg';
import duo from '../assets/images/duo.jpg';
import atelier_sport_sante from '../assets/images/atelier_sport_sante.jpg';

---

<html lang="en">
  <head>
    <CommonHead />
  </head>
</html>

<div class="">

  <section id="heroCoaching" class="hero block w-full bg-gradient-to-r from-black to-blue md:pt-10 md:max-h-3/4 lg:max-h-2/3">  
    <div class="container md:flex">
      <div class="hero__content block p-4 lg:px-8 md:w-1/2 xl:3/5">
        <div class="max-width-prose py-4">
          <h1 class="font-extrabold pt-2 pb-10 text-lighter-pink leading-tight text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl fadeIn">
            Accompagnement expert à votre service
          </h1>
          <p class="overtitle text-white">
            Perte de poids, renforcement musculaire, sport santé...
          </p>
        </div>
      </div>
      <div class="right md:w-1/2 xl:h-2/5 fadeIn">
        <img src={helena_cliente_gainage} class="relative h-96 w-full block rounded-lg object-cover object-center " />
      </div>
    </div>
  </section>

  <main id="main-heroCoaching">
  
    <section id="coaching">
      <div class="container">
        <div class="right py-8 max-w-prose">
           <div class="blockTitle">
            <h2>
              Les coachings
             </h2>
             <p class="undertitle text-black">Tous les cours solo et duo, en présentiel, incluent un bilan physique.</p>
           </div>
        </div>
        <div class="grid gap-6 row-gap-5 mb-8 sm:row-gap-6 sm:grid-cols-2 lg:grid-cols-3">
          <a href="/" aria-label="View Item">
            <div class="card_coaching relative overflow-hidden text-white transition duration-200 transform rounded-lg shadow-lg hover:-translate-y-2 hover:shadow-2xl">
              <img class="object-cover w-full h-96" src={perte_de_poids} alt="Femme faisant des fentes" />
              <div class="absolute inset-x-0 bottom-0 px-6 py-4 bg-black bg-opacity-75">
                <p class="text-sm font-medium tracking-wide text-white transition-opacity duration-200">
                  Perte de poids
                </p>
              </div>
              <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                <h4>Perte de poids</h4>
                <p class="text-white">
                  Des entrainements conçus spécialement pour vous, pour vous aider à atteindre vos objectifs. <br> Travail au poids du corps, travail cardio-vasculaire et des *conseils nutritionnels. <br>
                  En route vers votre silhouette idéale!
                </p>
              </div>
            </div>
            
          </a>
          <a href="/" aria-label="View Item">
            <div class="card_coaching relative overflow-hidden text-white transition duration-200 transform rounded-lg shadow-lg hover:-translate-y-2 hover:shadow-2xl">
              <img class="object-cover w-full h-96" src={renforcement_musculaire} alt="Femme faisant des fentes" />
              <div class="absolute inset-x-0 bottom-0 px-6 py-4 bg-black bg-opacity-75">
                <p class="text-sm font-medium tracking-wide text-white transition-opacity duration-200">
                  Renforcement musculaire
                </p>
              </div>
              <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                <h4>Renforcement musculaire</h4>
                <p class="text-white">
                  Retrouvez tonus et vivacité!<br>
                  Le renforcement musculaire se travaille (essentiellement) avec le poids du corps. Il a des effets sur la posture et également sur votre silhouette en vous permettant de raffermir, entre autres, votre sangle abdominale, vos fessiers et vos cuisses.
                </p>
              </div>
            </div>
            
          </a>
          <a href="/" aria-label="View Item">
            <div class="card_coaching relative overflow-hidden text-white transition duration-200 transform rounded-lg shadow-lg hover:-translate-y-2 hover:shadow-2xl">
              <img class="object-cover w-full h-96" src={prise_de_masse} alt="Femme faisant des fentes" />
              <div class="absolute inset-x-0 bottom-0 px-6 py-4 bg-black bg-opacity-75">
                <p class="text-sm font-medium tracking-wide text-white transition-opacity duration-200">
                  Prise de masse
                </p>
              </div>
              <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                <h4>Prise de masse</h4>
                <p class="text-white">
                  Pour faire évoluer votre physique et vous sentir mieux dans votre corps. <br>
                  Vous souhaitez prendre du poids, gagner en muscle, être plus sexy avec une musculature mieux défini? Nous travaillerons votre prise de masse avec et sans matériel.
                </p>
              </div>
            </div>
          </a>

          <a href="/" aria-label="View Item">
            <div class="card_coaching relative overflow-hidden text-white transition duration-200 transform rounded-lg shadow-lg hover:-translate-y-2 hover:shadow-2xl">
              <img class="object-cover w-full h-96" src={sport_sante_senior} alt="Senior faisant des twists russes" />
              <div class="absolute inset-x-0 bottom-0 px-6 py-4 bg-black bg-opacity-75">
                <p class="text-sm font-medium tracking-wide text-white transition-opacity duration-200">
                  Sport santé sénior
                </p>
              </div>
              <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                <h4>Sport Santé Sénior</h4>
                <p class="text-white">
                  Pratiquer une activité physique régulière lutte activement contre le vieillissement. <br>
                  Nous pouvons faire le choix de lutter contre la gravité et vieillir forts et en bonne santé. Ceci est possible avec une alimentation saine, des exercices réguliers, pour gagner en force musculaire, souplesse et stabilité.
                </p>
              </div>
            </div>
          </a>
            
          <a href="/" aria-label="View Item">
            <div class="card_coaching relative overflow-hidden text-white transition duration-200 transform rounded-lg shadow-lg hover:-translate-y-2 hover:shadow-2xl">
              <img class="object-cover w-full h-96" src={team} alt="team building" />
              <div class="absolute inset-x-0 bottom-0 px-6 py-4 bg-black bg-opacity-75">
                <p class="text-sm font-medium tracking-wide text-white transition-opacity duration-200">
                  Sport en entreprise
                </p>
              </div>
              <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                <h4>Sport en entreprise</h4>
                <p class="text-white">
                  On constate, dans les entreprises qui donnent un temps d’entrainement à leurs employés, différents bénéfices: <br>
                </p>
                <ul class="list-disc list-inside text-base md:text-lg">
                  <li>Hausse de la productivité</li>
                  <li>Amélioration de la concentration</li>
                  <li>Gain de motivation</li>
                  <li>Diminution des arrêts maladie grâce au travail postural.</li>
                </ul>
              </div>
            </div>
            
          </a>
        </div>  
      </div>
    </section>

    <section id="fixed" class="relative bg-black h-screen">
      <div class="absolute inset-0 p-8 w-full">
        <img class="relative h-full w-full block rounded-lg object-cover object-center" src={duo} />
      </div>
       <div class="container lg:flex md:space-x-2">
        <div class="hero__content absolute block p-5 bottom-24 lg:px-8">
          <div class="max-width-prose py-4">
            <span class="overtitle font-medium text-white pb-6 text-sm md:text-base lg:text-lg xl:text-xl">
              Pensez aux cours duo et groupe
            </span>
            <h1>Entraînez-vous à deux ou en petit groupe<br>pour plus de fun!</h1>
          </div>
        </div>
      </div>
       <div class="overlay absolute inset-0 h-full w-full bg-black opacity-25">
      </div>
   
    </section>

    <!-- pricesTabs -->

    <Tabs />

    <section class="CTA py-8 leading-7 text-black bg-white sm:py-12 md:py-16 lg:py-24">
        <div class="container">
            <div class="flex flex-col items-start leading-7 text-black border-0 border-gray lg:items-center lg:flex-row">
                <div class="box-border flex-1 border-solid sm:text-left">
                    <h2 class="text-base-blue">
                      Vous 2.0
                    </h2>
                    <p class="undertitle text-darker-gray">
                        Faites le premier pas. Décidez, aujourd’hui, de prendre votre forme en main.
                    </p>
                </div>
                <a href="#services" class="inline-flex items-center justify-center max-w-xs px-5 py-4 mt-6 ml-0 font-medium text-base md:text-lg leading-none text-white no-underline bg-base-blue border border-base-blue border-solid rounded-full cursor-pointer md:w-auto lg:mt-0 hover:bg-lighter-blue hover:text-white focus-within:bg-darker-blue focus-within:border-darker-blue active:bg-darker-blue focus-within:text-white sm:text-lg lg:ml-6 md:text-xl">
                    Booker une session
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </div>
        </div>
    </section>
  </main>


</div>