---
// Images and icons

import renforcement_musculaire from '../assets/images/renforcement_musculaire.jpg';
import profil_kamar from '../assets/images/profil_kamar.jpg';
import profil_lena from '../assets/images/profil_lena.png';
import profil_celine from '../assets/images/profil_celine.jpg';

import arrowdown from '../assets/icons/arrowdown.svg';
import monitor from '../assets/icons/monitor.svg';
import activity from '../assets/icons/activity.svg';
import chart from '../assets/icons/chart.svg';
import arrowright from '../assets/icons/arrowright.svg';


import dumbell from '../assets/icons/dumbell.svg';
import scale from '../assets/icons/scale.svg';
import battery from '../assets/icons/battery.svg';

// Component Imports

import Header from "../components/Header.astro";

// You can import components from any supported Framework here!


// Component Script:



// All variables are available to use in the HTML template below.
let title = 'My Astro Site';


---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
</head>
<body>
    <website id="website" class="w-screen h-full grid grid-cols-1 content-center">
       
        <!-- Header -->

        <Header />

        <!-- offer -->
         <div id="sellinPoints" class="pb-10">
           <div class="container">
              <div class="sellingPoints-wrapper -mt-12 md:-mt-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-items-center gap-4">
                
                <div class="sellingPoint-card">
                      <img src={activity} alt="icon activity">
                      <h4>
                        Evaluation
                      </h4>
                      <p class="text-md text-white  py-4">
                       Test de condition physique. <br> Déterminons votre objectif.
                      </p>
                </div>

                <div class="sellingPoint-card">
                      <img src={chart} alt="icon activity">
                      <h4>
                        Suivi personnalisé
                      </h4>
                      <p class="text-md text-white  py-4">
                        Vos progrès sont quantifiés <br> Vos entrainements évolutifs.
                      </p>
                  </div>
                  <div class="sellingPoint-card">
                      <img src={monitor} alt="icon screen">
                      <h4>
                        Domicile, extérieur, visio..
                      </h4>
                      <p class="text-md text-white py-4">
                        Gagnez du temps et du confort <br> Choisissez où a lieu votre séance.
                      </p>
                  </div>
              </div>
           </div>
         </div>

        <!-- Quote -->

        <!-- Coaching preview -->
        <section id="coaching" class="coaching bg-gradient-to-r from-blue to-black">
          <div class="container">
            <div class="headline">
              <h2 class="text-white">Entraînements sur-mesures</h2>
              <p class="undertitle text-white">
                Déterminons votre objectif et un parcours d'accompagnement.
              </p>
            </div>
            <div class="coaching__content w-full block py-16 lg:flex justify-stretch">
              <div class="coaching__images mt-10 lg:-mx-4 lg:mt-0 lg:w-2/3 xl:w-3/5">
                  <div class="relative space-y-4">
                      <div class="flex items-end justify-start space-x-4">
                          <img class="rounded-lg shadow-lg w-40 md:w-72 lg:w-56 xl:w-72" src="https://images.pexels.com/photos/5262963/pexels-photo-5262963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="1"/>
                          <img class="rounded-lg shadow-lg w-36 sm:w-48 md:w-72 lg:w-56"  src="https://images.pexels.com/photos/6740753/pexels-photo-6740753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="2"/>
                      </div>
                      <div class="flex items-start justify-center space-x-4">
                          <img class="rounded-lg shadow-lg w-32 md:w-56" src="https://images.unsplash.com/photo-1591258370814-01609b341790?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="3"/>
                          <img class="rounded-lg shadow-lg w-40 md:w-72 lg:w-56 xl:w-64" src={renforcement_musculaire} alt="4"/>
                      </div>
                  </div>
              </div>
              <div class="coachingFeatures text-white mt-6 lg:w-2/5">
                <ul class="mt-10">
                    <li>
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-black text-white">
                                   <img src={dumbell} alt="">
                                </div>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-white">
                                  Renforcement musculaire
                                </h3>
                                <p class="text-white mt-2">
                                  Pour gagner en force et en énergie.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-10">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-black">
                                  <img src={scale} alt="">
                                </div>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-white">
                                  Perte de poids
                                </h3>
                                <p class="text-white mt-2">
                                  Pour dessiner votre silhouette et atteindre votre objectif de poids.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-10">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-black">
                                  <img src={battery} alt="">   
                                </div>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-white">
                                  Sport santé senior
                                </h3>
                                <p class="text-white mt-2">
                                  Prendre soin de son corps en améliorer sa qualité de vie. en gardant un corps fonctionnel et tonique.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="relative w-full mt-16">
                  <a href="/coaching/#coaching" class="absolute right-5 flex flex-end items-center text-font-medium text-base md:text-lg xl:text-xl text-base-pink hover:text-lighter-pink active:text-darker-pink transition transform  " >
                    Tous les programmes
                    <img src={arrowright} alt="" class="ml-3">
                  </a>
                </div>
              </div>

            </div>
          </div>

        </section>

        <!-- short testimonial -->
        <section class="testimonial py-8">
            <div class="container">
                <div class="w-full h-full flex flex-col items-center lg:flex-row">
                    <div class="flex flex-col items-start justify-center w-full h-full pr-8 mb-10 lg:mb-0 lg:w-1/2">
                        <p class="mb-2 text-base font-medium tracking-tight text-base-pink uppercase">Des clientes satisfaites</p>
                        <h2>Témoignages</h2>
                        <p class="my-6 text-lg text-gray-700">Quelques mots de mes coachées sur le travail que nous accomplissons ensemble</p>
                    </div>
                    <div class="w-full space-y-5 md:space-y-6 pb-6">

                        <figure class="p-4 md:p-6 bg-black rounded-lg">
                            <img class="w-16 h-16 md:w-20 md:h-20 rounded-full mx-auto" src={profil_kamar} alt="" width="384" height="512">
                              <div class="space-y-4">
                                <blockquote class="relative">
                                  <svg class="quote absolute left-0 w-10 h-10 text-pink fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                    <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                                  </svg> <br>
                                  <p class="pt-2 text-white text-base md:text-lg font-medium line-clamp-3 md:line-clamp-2">
                                    Ses connaissances aussi bien en anatomie qu’en physiologie font que Helena n’est pas un simple coach qui a des objectifs personnels à atteindre, non.
                                    Elle adapte et tire le meilleur de nous mêmes en nous poussant à nous améliorer même dans nos zones de faiblesse de sorte que les petites fragilités deviennent des forces. Donc un vrai accompagnement personnalisé et attentif.
                                  </p>
                                </blockquote>
                                <figcaption class="font-medium">
                                  <div class="text-blue">
                                    Kamar
                                  </div>
                                  <div class="text-white">
                                    Médecin
                                  </div>
                                </figcaption>
                              </div>
                        </figure>
                
                        <figure class="p-4 md:p-6 bg-black rounded-lg">
                            <img class="w-16 h-16 md:w-20 md:h-20 rounded-full mx-auto" src={profil_celine} alt="photo de profil celine">
                              <div class="space-y-4">
                                <blockquote class="relative">
                                  <svg class="absolute left-0 w-10 h-10 text-pink fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                    <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                                  </svg> <br>
                                  <p class="pt-2 text-white text-base md:text-lg font-medium line-clamp-3 md:line-clamp-2">
                                    Un parfait mélange d’écoute de son élève et d’exigence, pour l’entraîner à se dépasser.
                                    J’ai débuté les séances de coaching avec Helena il y a un peu plus de 3 mois, pour retrouver de la condition physique.

                                    Elle est attentive à mes objectifs et à mes douleurs. Elle sait les comprendre, me les expliquer et proposer des exercices adaptés.
                                    Elle m’a aidée à reprendre conscience des différentes parties de mon corps, à ré-utiliser des articulations douloureuses. Le travail de renforcement est ciblé, intensif et adapté à chaque séance.
                                    J’ai augmenté ma force musculaire et je me sens mieux dans mon corps.
                                  </p>
                                </blockquote>
                                <figcaption class="font-medium">
                                  <div class="text-blue">
                                    Céline
                                  </div>
                                  <div class="text-white">
                                    Libraire
                                  </div>
                                </figcaption>
                              </div>
                        </figure>

                        <figure class="p-4  md:p-6 bg-black ">
                            <img class="w-16 h-16 md:w-20 md:h-20 rounded-full mx-auto" src={profil_lena} alt="" width="384" height="512">
                              <div class="space-y-4">
                                <blockquote class="relative">
                                  <svg class="absolute left-0 w-10 h-10 text-pink fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                    <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                                  </svg> <br>
                                  <p class=" pt-2 text-white text-base md:text-lg font-medium line-clamp-3 md:line-clamp-2">
                                    En seulement 4 semaines, je vois déjà des résultats sur mon poids, mais surtout, je redécouvre mon corps et tous ses muscles laissés à l’abandon pendant 2 confinements.
                                    Helena est très à l’écoute et regorge de motivation quand vous en manquez.
                                  </p>
                                </blockquote>
                                <figcaption class="font-medium">
                                  <div class="text-blue">
                                    Lena
                                  </div>
                                  <div class="text-white">
                                    Web designer
                                  </div>
                                </figcaption>
                              </div>
                        </figure>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- CTA -->

        <section class="CTA py-8 leading-7 text-black bg-white sm:py-12 md:py-16 lg:py-24">
            <div class="container">
                <div class="flex flex-col items-start leading-7 text-black border-0 border-gray lg:items-center lg:flex-row">
                    <div class="box-border flex-1 border-solid sm:text-left">
                        <h2 class="">
                          Vous 2.0
                        </h2>
                        <p class="undertitle text-gray-dark">
                            Faites le premier pas. Décidez, aujourd’hui, de prendre votre forme en main.
                        </p>
                    </div>
                    <a href="#services" class="inline-flex items-center justify-center max-w-xs px-5 py-4 mt-6 ml-0 font-medium text-base md:text-lg leading-none text-white no-underline bg-blue border border-blue border-solid rounded-lg cursor-pointer md:w-auto lg:mt-0 hover:bg-blue-light hover:text-white focus-within:bg-darker-blue focus-within:border-darker-blue active:bg-blue-dark focus-within:text-white sm:text-lg lg:ml-6">
                        Booker une session
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <!-- Footer -->

    </website>
</body>
</html>
