---

let title = 'Coaching by Josephine | Training body and mind';
let description = "Je vous coach en 1:1, à domicile, sur Bordeaux Métropole, ou à distance via visioconférence. Un programme sur-mesure et un suivi personnalisé vous permettrons d'atteindre vos objectifs.";
let author = "Josephine";
let keywords = ["Coaching privée", "Bordeaux", "Perte de poids", "Renforcement musculaire", "Sport santé sénior"];

---
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content={description}>
    <meta name="author" content={author}> 
    <meta name="keywords" content={keywords}>
    <title>{title}</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">   

    <!-- Sitemap -->

    <!-- Cannonical -->

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/package.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={'https://coachingbyjosephine.com'} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

      <!-- Instagram -->